<div id="articles" class="transitions-enabled">
    <% @articles.each do |article| %>
        <div class="box panel panel-default">
            <%= image_tag article.image.url(:medium) %>
               <div class="panel-body">
               <%= article.brand.email%>
               <%= article.name %>
               <%= article.description %>
               <%= article.price %>
               <%= article.gender %>
               <%= link_to 'Show', article %>
            <% if article.brand == current_brand %>
                <%= link_to 'Edit', edit_article_path(article) %>
                <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      </div>
    <% end %>
</div>

