
<div class="center">
  <%= image_tag @brand.logo.url(:thumb) %>
<h1><%= @brand.name %></h1></br>
</div>

<div class="jumbotron center">
<%= @brand.brand_description %>
</div>

<div id="articles" class="transitions-enabled">
    <% @brand.articles.each do |article| %>
        <div class="box panel panel-default">
            <%= link_to image_tag(article.image.url(:medium)), article %>
               <div class="panel-body">
               <strong><%= article.brand.name%></strong></br>
            <% if article.brand == current_brand %>
              <div class="actions">
                <%= link_to  raw('<span class="glyphicon glyphicon-edit"></span>Edit'), edit_article_path(article) %>
                <%= link_to  raw('<span class="glyphicon glyphicon-trash"></span>Delete'), article, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
      </div>
    </div>
  <% end %>
</div>


