  <div class="container">
    <div class="brand_profile_header">
      <div class="brand_profile_pic">
    <%= image_tag @brand.logo.url(:medium) %>
      </div>

    <div class="brand_profile_name">
        <h1><%= @brand.name %></h1>
        </br>
        </br>

        <%if @brand.followers.any? %>
          <strong>Followers: </strong><%= @brand.followers.count %>
        <%end%>
          <%= render 'layouts/followbutton' %></br>
          <%= link_to @brand.url, url_for(@brand.url), target: :_blank %>
      </div>
    </div>
</div>
    </br>
    </br>

<div class="container">
    <div class="brand_profile_links">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><%= link_to 'Pics', '#', id: "brand_pics_link"%></li>
      <li role="presentation"><%= link_to 'Designers', '#', id: "brand_designers_link"%></li>
      <li role="presentation"><%= link_to 'Stores', '#', id: "brand_locations_link"%></li>
      <li role="presentation"><%= link_to 'Contact', '#', id: "brand_contact_link" %></li>
      <li role="presentation"><%= link_to 'Story','#', id: "brand_story_link"%></li>
      <li role="presentation"><%= link_to 'Posts','#', id: "brand_post_link"%></li>
          </ul>
        </div>


 <section id='brand_pics_section'>
   <%= render 'layouts/brand_pics' %>
  </section>

  <section id='brand_designers_section'>
   <%= render 'layouts/brand_designers' %>
  </section>

  <section id='brand_locations_section'>
   <%= render 'layouts/brand_location' %>
  </section>

<section id='brand_contact_section'>
   <%= render 'layouts/brand_contact' %>
  </section>

  <section id='brand_story_section'>
   <%= render 'layouts/brand_story' %>
  </section>

  <div id="posts" class="transitions-enabled">
  <section id='brand_post_section'>
   <%= render 'layouts/brand_posts' %>
  </section>
  </div>
</div>

