<%= render 'layouts/followbutton' %>

</br>
</br>

<strong>Followers:</strong><%= @brand.followers.count %>


<div class="center">
  <%= image_tag @brand.logo.url(:medium) %>
</div>
</br>
<div class="jumbotron center">
    <h1><%= @brand.name %></h1></br>
    <%= @brand.brand_description %></br>
    </br>

    <h3>Contact: </h3>
   <strong>Email:</strong> <%= @brand.email %></br>
   <strong>Phone:</strong> <%= @brand.phone %></br>

<%if @brand.url %>
   <strong>Website:</strong>  <%= link_to @brand.url, url_for(@brand.url), target: :_blank%></br>
    <%end%>
</br>
</br>

     <strong>Designers:</strong></br>
      <% @brand.designers.each do |designer| %>
      <%= link_to designer.name, designer %></br>
      <%end%>
</div>

<div id="articles" class="transitions-enabled">
    <% @brand.articles.each do |article| %>
        <div class="box panel panel-default">
            <%= link_to image_tag(article.image.url(:medium)), article %>

            <% if article.brand == current_brand %>
             <div class="panel-body">
              <div class="actions">
                <%= link_to  raw('<span class="glyphicon glyphicon-edit"></span>Edit'), edit_article_path(article) %>
                <%= link_to  raw('<span class="glyphicon glyphicon-trash"></span>Delete'), article, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
              </div>
            <% end %>

    </div>
  <% end %>
</div>


