<div id="posts" class="transitions-enabled">
        <% current_user.all_following.each do |f|%>
            <% f.notifications.each do |notification| %>
            <div class="postbox panel panel-default">
              <div class="panel-header">
                <%= image_tag notification.brand.logo.url(:thumb) %>
                </div>
                <div class="panel-body">
              <%if notification.image? %>
                  <%= image_tag notification.image %>
                <%end %>
                <h1><%= notification.title %></h1>
                <p>Posted by: <%= notification.brand.name %></p>
                <p><%= notification.description %></p>
              </div>
            </div>
<% end %>
          <%f.articles.each do |article|%>
          <div class="postbox panel panel-default">
            <div class="panel-header">
                <%= image_tag article.brand.logo.url(:thumb) %>
                </div>
                <div class="panel-body">
                  <%= image_tag article.image.url(:medium) %>
                <p>Posted by: <%= article.brand.name %></p>
                <p><%= article.description %></p>
              </div>
            </div>
    <% end%>
  <% end%>
</div>

